<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <h1><%= title %></h1>

  <button>Fetch translations</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script>
  	async function fetchTranslations() {
  		const response = await fetch('http://localhost:3000/api/translations');
  		const json = await response.json();
  		console.log(json.data);
  	} 

  	$('button').on('click', fetchTranslations);
  	
  	$(function() {
  		$('button').click();
  	});
  </script>

</body>
</html>
